main{
    .msg-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 1000px;
        width: 100%;
    }

    .error-title{
        display: flex;
        font-size: 20rem;
        color: #FF6060;
        text-align: center;
    }
    .error-msg{
        color: #FF6060;
        letter-spacing: 1px;
        text-align: center;
        font-size: 2.5rem;
    }
    a{
        font-size: 1.5rem;
    }
}