main{
    .msg-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 1000px;
        width: 100%;
    }

    .error-title{
        display: flex;
        font-size: 20rem;
        color: #FF6060;
        text-align: center;
    }
    .error-msg{
        color: #FF6060;
        letter-spacing: 1px;
        text-align: center;
        font-size: 2.5rem;
    }
    a{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {

  main { 
    .msg-container { 
        width: 100%; 
        height: auto; 
        min-height: 600px; 
        justify-content: space-evenly; 
        padding: 30px 0; 
    } 
    .error-title { 
        font-size: 8rem; 
    } 
    .error-msg { 
        font-size: 1.3rem; 
        padding: 0 20px; 
    } 
    a { 
        font-size: 1rem; 
        } 
    }  
}