$orange: #FF6060;
$black: #000000;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style: none;
}