$orange: #FF6060;
$black: #000000;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style: none;
}

p{
    letter-spacing: 0.25px;
    font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%; 
        overflow-x: hidden;
        min-height: 100vh; 
    } 
    .main-container { 
        width: 100%; 
        max-width: 100%; 
        padding: 0 20px; 
        align-items: center;
    }
    main{
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
    }
}